<?xml version="1.0"?>
<SiteFuncConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <items>
    <item title="用户管理" code="portal">
      <subitems>
        <item title="用户列表" code="portal_user_list">
          <subitems>
            <item title="添加用户" code="portal_user_add"/>
            <item title="锁定用户" code="portal_user_lock"/>
            <item title="解锁用户" code="portal_user_unlock"/>
          </subitems>
        </item>
        <item title="管理员列表" code="portal_admin_list">
          <subitems>
            <item title="锁定管理员" code="portal_admin_lock"/>
            <item title="解锁管理员" code="portal_admin_unlock"/>
            <item title="创建管理员" code="portal_admin_create"/>
            <item title="设置超级管理员" code="portal_admin_settype"/>
          </subitems>
        </item>
      </subitems>
    </item>
    <item title="权限管理" code="permit">
      <subitems>
        <item title="角色列表" code="permit_role_list">
          <subitems>
            <item title="新增角色" code="permit_role_add"/>
            <item title="新增角色" code="permit_role_update"/>
            <item title="【启用/关闭】角色" code="permit_role_active"/>
            <item title="删除角色" code="permit_role_delete"/>
            <item title="查看关联权限" code="permit_rolefunc_list"/>
            <item title="角色权限修改" code="permit_rolefunc_change"/>
          </subitems>
        </item>
        <item title="用户角色绑定" code="permit_roleuser_search">
          <subitems>
            <item title="新增用户角色绑定" code="permit_roleuser_bind"/>
            <item title="取消绑定" code="permit_roleuser_delete"/>
          </subitems>
        </item>
      </subitems>
    </item>
  </items>
</SiteFuncConfig>