@using OSS.Common.ComModels.Enums
@using OSS.Common.Extention

@{
    ViewData["Title"] = "错误页";
    var ret = Context.Request.Query["ret"].ToInt32();
    var message = Context.Request.Query["message"].ToString();
}

<div class="container content">
    @{
        if (ret == (int) ResultTypes.UnKnowSource)
        {
            <div> 未知授权应用 </div>
        }
        else
        {
            <div>
                @(message ?? " 对不起,该请求出现错误！")
            </div>
        }
    }

</div>