<?xml version="1.0"?>
<LogReceiverConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--默认接收人信息，多人以逗号分开（暂时只支持邮箱-->
  <default_receivers></default_receivers>
  <items>
    <item module_name="file" msg_key="FleService" receivers="" />
  </items>
</LogReceiverConfig>