<?xml version="1.0"?>
<AliSmsConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppId>appid</AppId>
  <AppSecret>appsecret</AppSecret>
  <OperateMode>BySelf</OperateMode>
  <Version>2017-05-25</Version>
  <RegionId>cn-hangzhou</RegionId>
</AliSmsConfig>