<?xml version="1.0"?>
<SiteFuncConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<items>
		<item title="用户管理" code="portal">
			<subitems>
				<item title="用户列表" code="portal_user_list">
					<subitems>
						<item title="添加用户" code="portal_user_add"/>
						<item title="锁定用户" code="portal_user_lock"/>
						<item title="解锁用户" code="portal_user_unlock"/>
					</subitems>
				</item>
				<item title="管理员列表" code="portal_admin_list">
					<subitems>
						<item title="锁定管理员" code="portal_admin_lock"/>
						<item title="解锁管理员" code="portal_admin_unlock"/>
						<item title="创建管理员" code="portal_admin_create"/>
						<item title="设置超级管理员" code="portal_admin_settype"/>
					</subitems>
				</item>
			</subitems>
		</item>

		<item title="权限管理" code="permit">
			<subitems>
				<item title="角色列表" code="permit_role_list">
					<subitems>
						<item title="新增角色" code="permit_role_add"/>
						<item title="新增角色" code="permit_role_update"/>
						<item title="【启用/关闭】角色" code="permit_role_active"/>
						<item title="删除角色" code="permit_role_delete"/>
						<item title="查看关联权限" code="permit_rolefunc_list"/>
						<item title="角色权限修改" code="permit_rolefunc_change"/>
					</subitems>
				</item>
				<item title="用户角色绑定" code="permit_roleuser_search">
					<subitems>
						<item title="新增用户角色绑定" code="permit_roleuser_bind"/>
						<item title="取消绑定" code="permit_roleuser_delete"/>
					</subitems>
				</item>
			</subitems>
		</item>

		<item title="商品管理" code="goods">
			<subitems>
				<item title="商品目录" code="goods_category_list">
					<subitems>
						<item title="添加/修改商品类别" code="goods_category_add"/>
						<item title="删除商品类别" code="goods_category_delete"/>
					</subitems>
				</item>
				
				<item title="添加商品" code="goods_add"/>
				<item title="编辑商品" code="goods_edit"/>
				<item title="删除商品" code="goods_delete"/>
				<item title="规格管理" code="goods_sku_manage"/>
				<item title="商品价格管理" code="goods_price_manage"/>
				
				<item title="商品字段配置" code="goods_config_attr_search">
					<subitems>
						<item title="字段配置管理（增加，修改，激活）" code="goods_config_attr_manage"/>
					</subitems>
				</item>
			</subitems>
		</item>

		<item title="文章管理" code="article">
			<subitems>
				<item title="文章类别" code="article_category_list">
					<subitems>
						<item title="添加/修改文章类别" code="article_category_add"/>
						<item title="删除文章类别" code="article_category_delete"/>
					</subitems>
				</item>
				<item title="添加文章" code="article_add"/>
				<item title="编辑文章" code="article_edit"/>
				<item title="删除文章" code="article_delete"/>			
			</subitems>
		</item>

		<item title="系统配置" code="system_setting">
			<subitems>
				<item title="通知账号管理" code="notify_account_manage"/>
				<item title="通知模板管理" code="notify_template_manage"/>
				<item title="首页模块配置" code="system_home_index_setting"/>
			</subitems>
		</item>
		
		
	</items>
</SiteFuncConfig>